# Ignorar o arquivo .env
.env

# Ignorar pastas e arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de dependências do Node.js
node_modules/

# Ignorar arquivos de build
/dist
/build

# Ignorar arquivos temporários do editor (ex: VSCode, Sublime)
.vscode/
.idea/

# Ignorar logs
*.log
